// Grays
// -------------------------
$black:                 #000000 !default;
$grayDark:              #232323 !default;
$gray:                  #535353 !default;
$grayLight:             #f4f4f4 !default;
$white:                 #ffffff !default;

// Custom colors
// -------------------------
$purple:                #935283 !default;
$purpleDark:            #5f1943 !default;

// Links
// -------------------------
$linkColor:             #ffffff !default;
$linkColorHover:        $linkColor !default;

// Typography
// -------------------------
$base-font-size: 16px;

// Others
// -------------------------
$width: 800px;
$height: 700px;