{% extends 'layout.html.twig' %}

{% block content %}
<section class="wrapper grupo grupo-a-tribo">
    <article>
        <h1 class="titulo g-d-18">{{ 'titulo_a_tribo'|trans }}</h1>
    </article>
</section>
{% endblock %}