.sass-cache
node_modules
bower_components

# ASP.NET MVC 4
# Scripts/dist/*
# Scripts/output*.js
# Content/screen.css
# bin/*
# obj/*
# App_Data/*

# Silex
/public/Scripts/dist
/public/Scripts/output*.js
/public/Scripts/html5shiv*.js
/public/Content/screen.css
composer.lock
/vendor/*
/cache/*
/log/*

# Compass
/public/images/sprites/geral-s*

# Cpanel
cgi-bin
error_log

# OS Crap
.DS_Store
thumbs.db
.*.swp
*.tmproj
*.mwb
*.mwb.bak
*.sublime-*

# SCM files
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
.project