<div class="flexslider banners">
    <ul class="slides">
        {% for banner in banners %}
        <li>
            <a href="{{ banner.url }}">
                <img src="{{ banner.imagem }}" alt="{{ banner.nome }}">
            </a>
        </li>
        {% endfor %}
    </ul>
</div>