<div class="g-d-12 g-d-l">
    <div class="social-updates" data-init="twitter">
		<div class="cf">
			<span class="title">Ultimas</span>
			<i class="icon-facebook">Twitter</i>
		</div>

		Conteúdo
	</div>
</div>