<div class="g-d-12 g-d-l">
    <div class="social-updates" data-init="twitter">
        <div class="cf">
            <div class="social-title">Ultimas

                <a href="#" class="ico-twitter ico">Twitter</a>
            </div>
        </div>

        <div class="cf social-update-list">
            <div class="social-single">
                <div class="data">14/12</div>
                <p>Já <a href="#">#pensou</a> em comprar jóias, roupas, vinhos e mais um monte de coisas com descontos incríveis e ainda receber dicas exclusivas da Julia Petit? Com <a href="#">@PayPal</a> você pode.</p>
            </div>
            <div class="social-single">
                <div class="data">21/05</div>
                <p>Já <a href="#">#pensou</a> em comprar jóias, roupas, vinhos e mais um monte de coisas com descontos incríveis e ainda receber dicas exclusivas da Julia Petit? Com <a href="#">@PayPal</a> você pode.</p>
            </div>
        </div>
    </div>
</div>