<div class="g-d-12">
    <div class="social-updates" data-init="twitter">
        <div class="cf">
            <div class="social-title">Ultimas

                <a href="#" class="ico-twitter ico">Twitter</a>
            </div>
        </div>

        <div class="cf social-update-list">
            <div class="social-single">
                <p>Já pensou em comprar jóias, roupas, vinhos e mais um monte de coisas com descontos incríveis e ainda receber dicas exclusivas da Julia Petit? Com PayPal você pode.</p>

                <p>Acesse o site criado pela Tribo e acompanhe os vídeos da campanha no canal GNT.</p>

                <a href="#" class="social-single-link">
                    <span class="title">com paypal eu posso com paypal eu posso com paypal eu posso com paypal eu posso com paypal eu posso com paypal eu posso </span>
                    <span class="link">www.compaypaleuposso.com.br</span>

                    <i class="ico-arrow-right ico"></i>
                </a>
            </div>
        </div>

        <i class="social-update-scroll-up"></i>
        <i class="social-update-scroll-down"></i>
    </div>
</div>