<div class="element social-updates" data-init="twitter">
    <div class="btn btn-info">
        <span>{{ 'titulo_ultimas'|trans }}</span>
        <i class="i ir geral-twitter-ico">Twitter</i>
    </div>
    <div class="social-update-list">
        {% for tweet in tweets %}
            <div class="social-single">
                <div class="data">{{ tweet.created_at }}</div>
                <p>{{ tweet.text|raw }}</p>
            </div>
        {% endfor %}
    </div>
</div>
