<div class="g-d-12">
	<div class="social-updates" data-init="facebook">
		<div class="cf">
			<span class="title">Ultimas</span>
			<i class="icon-facebook">Facebook</i>
		</div>

		Conteudo
	</div>
</div>