// For image replacement
.ir {
    border: 0;
    font: 0/0 Arial;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    // Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
    visibility: hidden;
}

// Complementos simples
.bb{
    @include box-sizing(border-box);
}

.clear{
    clear: both;
    float: none;
}

.cursor--pointer{
    cursor: pointer;
}

.inline-block{
    @include inline-block;
}

.middle{
    vertical-align: middle;
}

// Margins e Paddings
// Usage: <div class="mar-10 pad-b-20">Yeahh</div>;
@each $c in $margin_padding {
    $margin: nth($c, 1);
    $m: nth($c, 2);
    $padding: nth($c, 3);
    $pad: nth($c, 4);

    $i: 0;
    @while $i < 30 {
        .#{$m}-#{$i}{
            @include attr-size($margin, $i);
        }
        .#{$pad}-#{$i}{
            @include attr-size($padding, $i);
        }
        $i: $i + 10;
    }
}

// Font size
// Usage: <p class="fs-10">Yeahh</p>;
$i: 10;
@while $i < 20 {
    .fs-#{$i}{
        @include attr-size('font-size', $i);
    }
    $i: $i + 1;
}