// Geral
$geral-layout: smart;
$geral-sprites-dimensions: true;
@import "sprites/geral/*.png";
@include all-geral-sprites(true);

// Helpers
%complemento{
    @include inline-block;
    @include ie7-restore-right-whitespace;
    vertical-align: middle;
    padding: 0;
}

[class^="geral-"],
[class*=" geral-"]{
    @extend %complemento;
}