.btn{
    @extend .bb;
    @extend .caps;
    border: 2px solid $black;
    font-weight: bold;
    span{
        @extend .inline-block;
        @include attr-size('padding-left', 10);
        @include attr-size('padding-right', 10);
        vertical-align: middle;
    }
    i{
        @extend .inline-block;
        vertical-align: middle;
    }
    &.btn-voltar{
        @extend .inline-block;
        @include attr-size('padding', 5);
        @include attr-size('font-size', 12);
        @include attr-size('line-height', 12);
        border-color: $grayLight;
        color: $grayLight;
        &:hover{
            text-decoration: none;
        }
        i{
            @include attr-size('line-height', 12);
        }
    }
    &.btn-info{
        @extend .inline-block;
        @include attr-size('font-size', 11);
        background-color: $black;
        color: $white;
        i{
            @include attr-size('line-height', 11);
            background-color: $white;
        }
    }
}

.arrows-buttons {
    .btn {
        float: left;
        text-indent: -9999px;
        width: 32px;
        height: 32px;
        position: relative;
        @include transition(all 0.1s linear);
    }

    .btn:hover {
        background: #000;
    }

    .arrow-left {
        margin: 0 4px 0 0;

        .geral-nav-left-black {
            position: absolute;
            top: 9px;
            left: 11px;
        }

        &:hover .geral-nav-left-black {
            @include geral-sprite('nav-left-white');
        }
    }

    .arrow-right {
        .geral-nav-right-black {
            position: absolute;
            top: 9px;
            left: 11px;
        }

        &:hover .geral-nav-right-black {
            @include geral-sprite('nav-right-white');
        }
    }
}