.btn{
    @extend .bb;
    @extend .caps;
    border: 2px solid $black;
    font-weight: bold;
    span{
        @extend .inline-block;
        @include attr-size('padding-left', 10);
        @include attr-size('padding-right', 10);
        vertical-align: middle;
    }
    i{
        @extend .inline-block;
        vertical-align: middle;
    }
    &.btn-voltar{
        @extend .inline-block;
        @include attr-size('padding', 5);
        @include attr-size('font-size', 12);
        @include attr-size('line-height', 12);
        border-color: $grayLight;
        color: $grayLight;
        &:hover{
            text-decoration: none;
        }
        i{
            @include attr-size('line-height', 12);
        }
    }
    &.btn-info{
        @extend .inline-block;
        @include attr-size('font-size', 11);
        background-color: $black;
        color: $white;
        i{
            @include attr-size('line-height', 11);
            background-color: $white;
        }
    }
}