// Geral
// -------------------------
html{
    @include sans-serif;
    background-color: $white;
    color: $black;
}

a{
    @extend %base-link-color;
}

.rule.gray{
    color: $grayLight;
}

.wrapper{
    @extend .g-d-c;
    overflow: hidden;
}

.packery{
    margin-right: -$gutter-width;
    margin-top: -$gutter-width;
    overflow: hidden;
    @extend .cf;
}

.box{
    @extend .g-d-8;
    @include attr-size('min-height', $box-size-min-h);
    @include attr-size('max-height', $box-size-max-h);
    margin-left: 0;
    margin-right: $gutter-width;
    margin-top: $gutter-width;
    overflow: hidden;
}

.cap{
    @include attr-size('font-size', 13);
    overflow: hidden;
    display: block;
    position: relative;
    margin: 0;
    img{
        display: block;
    }
    .btn{
        position:absolute;
        top: 0;
        left: 0;
    }
    .caption{
        @include attr-size('font-size', 18);
        @include attr-size('padding', $gutter-width );
        @include attr-size('padding-right', $gutter-width * 2 );
        @include opacity(0);
        @include transition-property(all);
        @include transition-duration(.5s);
        @include transition-timing-function(ease);
        cursor: pointer;
        line-height: normal;
        position: absolute;
        background-color: $black;
        background-color: rgba($black, .75);
        color: $white;
        &.is-full{
            @extend .bb;
            width: 100%;
        }
        .plus{
            @include attr-size('bottom', $gutter-width / 2 );
            @include attr-size('right', $gutter-width / 2 );
            position: absolute;
            width: 18px;
            height: 18px;
        }
    }
    &:hover .caption{
        @include opacity(1);
    }
    &.cap-bottom{
        &:before { bottom: 10px; left: 10px; }
        & .caption { left: 0; bottom: -30%;}
        &:hover .caption { bottom: 0; }
    }
    &.cap-right{
        &:before { bottom: 10px; right: 10px; }
        & figcaption { bottom: 0; right: -30%; }
        &:hover figcaption { right: 0; }
    }
}

.box-max{
    @include attr-size('height', $box-size-max-h);
}

.box-16{
    @extend .g-d-16;
}

.load-more{
    display: block;
    padding: $gutter-width;
    background-color: $white;
}

.grupo{
    margin-bottom: $gutter-width;
}

.grupo .titulo{
    @extend .caps;
    @include attr-size('font-size', 56);
    @include attr-size('line-height', 56);
    @include attr-size('line-height', 56);
    margin-top: 0;
    margin-bottom: $gutter-width;
}

.flexslider {
    background: none;
    border: 0;
    box-shadow: none;
}