// Geral
// -------------------------
html{
    @include sans-serif;
    background-color: $grayLighter;
    color: $gray;
}

a{
    @extend %base-link-color;
}

.wrapper{
    @extend .g-d-c;
    background-color: green;
    overflow: hidden;
}

.packery{
    margin-right: -$gutter-width;
    margin-top: -$gutter-width;
    overflow: hidden;
    background-color: red;
    @extend .cf;
}

.box{
    $size: column-width(8, $col-width, $gutter-width);
    @extend .g-d-8;
    @include attr-size('min-height', $box-size-min-h);
    @include attr-size('max-height', $box-size-max-h);
    width: $size;
    margin-left: 0;
    margin-right: $gutter-width;
    margin-top: $gutter-width;
    background-color: blue;
    overflow: hidden;
}

.box-max{
    @include attr-size('height', $box-size-max-h);
}

.load-more{
    display: block;
    padding: $gutter-width;
    background-color: $white;
}
