// Geral
// -------------------------
html{
    @include sans-serif;
    background-color: $white;
    color: $black;
}

a{
    @extend %base-link-color;
}

.wrapper{
    @extend .g-d-c;
    overflow: hidden;
}

.packery{
    margin-right: -$gutter-width;
    margin-top: -$gutter-width;
    overflow: hidden;
    @extend .cf;
}


.box{
    $size: column-width(8, $col-width, $gutter-width);
    @extend .g-d-8;
    @include attr-size('min-height', $box-size-min-h);
    @include attr-size('max-height', $box-size-max-h);
    width: $size;
    margin-left: 0;
    margin-right: $gutter-width;
    margin-top: $gutter-width;
    background-color: $gray;
    overflow: hidden;
}

.box-max{
    @include attr-size('height', $box-size-max-h);
}

.box-16{
    $size: column-width(16, $col-width, $gutter-width);
    @extend .g-d-16;
    width: $size;
}

.load-more{
    display: block;
    padding: $gutter-width;
    background-color: $white;
}

.grupo{
    margin-bottom: $gutter-width;
}

.grupo > .titulo{
    @extend .caps;
    @include attr-size('font-size', 56);
    @include attr-size('line-height', 56);
    @include attr-size('line-height', 56);
    margin-top: 0;
    margin-bottom: $gutter-width;
}
