.flexslider.banners {

    margin-bottom: 55px;

    .flex-control-nav {
        text-align: right;
        top: 102%;
        right: -5px;
    }

    .flex-control-nav li {
        text-align: left;
    }
}