.grupo-trabalhos {
    .titulo {
        @include attr-size('font-size', 50);
        @extend .caps;
        margin: 0 0 10px 0;
        line-height: 39px;

        .sub-titulo {
            display: block;
            @include attr-size('font-size', 16);
            color: #b8b8b8;
        }
    }

    .imagem-destaque {
        display: block;
    }

    .image-list {
        margin-right: -$gutter-width;
        overflow: hidden;
        img {
            display: block;
        }
    }

    .image-list-item {
        @extend .g-d-8;
        margin-left: 0;
        margin-right: $gutter-width;
        margin-top: $gutter-width;
        overflow: hidden;
        display: block;
    }

    .conteudo {
        @include attr-size('font-size', 15);
        @extend .caps;
        margin-top: $gutter-width;
        color: $grayLight;

        p {
            margin-bottom: $gutter-width;

        }

        ul {
            margin: 0;
        }

        li {
            list-style: none;
        }
    }

    .titulo-secao {
        @include attr-size('font-size', 25);
        @extend .caps;
        @include attr-size('line-height', 25);
        margin: 0 0 22px 0;
        color: $black;
    }

    .hr {
        border: none;
        height: 1px;
        background: image-url('dot-gray.png');
        margin: 29px 0;
    }
}