.grupo-trabalhos {

    .btn-voltar,
    .share-buttons {
        float: right;
    }

    .btn-voltar {
        @include attr-size('padding', 8);
        @include attr-size('padding-bottom', 7);
        margin: 20px 4px 0 0;
    }

    .share-buttons {
        margin: 22px 8px 0 0;

        .label {
            @include attr-size('font-size', 11);
            color: #ababab;
            float: left;
            padding: 6px 10px 6px 6px;
            @extend .caps;
        }

        .ico {
            text-indent: -9999px;
        }
    }

    //
    .titulo {
        @include attr-size('font-size', 50);
        @extend .caps;
        margin: 0 0 10px 0;
        line-height: 39px;

        .sub-titulo {
            display: block;
            @include attr-size('font-size', 16);
            color: #b8b8b8;
        }
    }

    .imagem-destaque {
        display: block;
    }

    .image-list {
        img {
            display: block;
        }
    }

    .conteudo,
    .image-list-item {
        margin-top: $gutter-width;
    }

    .conteudo {
        color: #ababab;
        @include attr-size('font-size', 15);
        @extend .caps;

        p {
            margin: 0;
        }

        ul {
            margin: 0;
        }

        li {
            list-style: none;
        }

        .url-projeto {
            margin: 10px 0 0 0;

            a {
                color: #ababab;
            }
        }
    }

    .titulo-secao {
        @include attr-size('font-size', 25);
        @extend .caps;
        @include attr-size('line-height', 25);
        margin: 0 0 22px 0;
        color: $black;
    }

    .hr {
        border: none;
        height: 1px;
        background: image-url('dot-gray.png');
        margin: 29px 0;
    }

    dl {
        width:100%;
        overflow:hidden;
        margin: 0;
    }

    dt {
        float:left;
        width:auto;
        font-weight: bold;
        color: $black;
    }

    dd {
        float:left;
        width:auto;
        margin: 0 0 0 7px;
    }

    .ficha strong {
        color: $black;
    }
}