.grupo-a-tribo{
    .sloganImg{
        margin-bottom: $gutter-width;
    }
    .que-somos{
        margin-top: -7px;
        margin-right: -7px;
        .g-d-5{
            @include attr-size('min-height', 265);
            margin-top: 7px !important;
            margin-right: 7px !important;
        }
    }
}