.grupo-ultima{
    margin-bottom: 0;
    .container-box{
        @extend .mar-b-20;
        .box{
            @extend .g-d-12;
            @include attr-size('height', 360);
            background: red;
        }
    }
    .packery{
        margin: 0;
    }
    .media{
        @extend .bg-color-grayLighter;
        @extend .mar-b-20;
        @include attr-size('height', 180);
        width: column-width(24, $col-width, $gutter-width);
        overflow: hidden;
        .media__img{
            margin: 0;
        }
        .media__body{
            @extend .bb;
            padding: $gutter-width;
            h3{
                @extend .fs-24;
                @extend .caps;
                margin-bottom: $gutter-width;
            }


            p{
                @extend .fs-15;
                @extend .caps;
                @extend .txt-color-gray;
                margin-bottom: $gutter-width;
            }
            .btn{
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}

.grupo-ultima-show{
    .conteudo{
        h3{
            @extend .fs-24;
            @extend .caps;
        }

        p{
            @extend .fs-15;
            @extend .caps;
            @extend .txt-color-gray;
        }
    }

    .flexslider.thumbs,
    .flexslider.galeria{
        display: block;
    }

    .flexslider.galeria{
        overflow: hidden;
        margin-bottom: $gutter-width;
    }

    .flexslider.thumbs{
        @extend .cf;
        margin-right: -$gutter-width;
        position: relative;
        overflow: hidden;
        .thumb{
            @extend .g-d-3;

        }

        .flex-direction-nav a {
            display: none;
        }

        // .flex-direction-nav .flex-prev {
        //     opacity: 1;
        //     @include geral-sprite('nav-left-black');
        //     width: geral-sprite-width('nav-left-black');
        //     height: geral-sprite-height('nav-left-black');
        // }

        // .flex-direction-nav .flex-next {
        //     opacity: 1;
        //     @include geral-sprite('nav-right-black');
        //     width: geral-sprite-width('nav-right-black');
        //     height: geral-sprite-height('nav-right-black');
        // }

        .item {
            position: relative;
            cursor: pointer;
        }

        .overlay {
            @include transition-property(opacity);
            @include transition-duration(.5s);
            @include opacity(.5);
            width: column-width(3, $col-width, $gutter-width);
            position: absolute;
            height: $gutter-width * 4;
            top: 0;
            left: 0;
            background: $black;
        }

        .flex-active-slide {
            .overlay {
                @include opacity(0);
            }
        }
    }
}