{% extends 'layout.html.twig' %}

{% block content %}
<div class="wrapper grupo grupo-fazemos">
    <h2 class="titulo">{{ 'titulo_o_que_fazemos'|trans }}</h2>
    <div class="infografico">
        <div id="infograficoDiv"></div>
    </div>
    <div class="especial-title-wrap">
        <h2 class="especial-title">Cases</h2>
    </div>
    <div class="packery" id="packeryCases"></div>
</div>
{% endblock %}

{% block script %}
{% set swf = app.request.basepath ~ '/swf/oque_fazemos-' ~ app.translator.getLocale()|lower ~ '.swf' %}
<script type="text/javascript">
    console.log('{{ swf }}');
    var params = {
        allowScriptAccess: "always"
    };
    var atts = {
        id: "infografico"
    };
    swfobject.embedSWF("{{ swf }}", "infograficoDiv", "1150", "450", "9", null, null, params, atts);

    function cases(p)
    {
        $.post("{{ url('cases') }}", {
            'categoria': p
        }).done(function(res) {
            $res = $(res);
            var $el = $container.find(".element");
            $container.isotope( 'remove', $el, function(){
                $container.isotope( 'insert', $res );
            });
        });
    }
</script>
{% endblock %}