{% extends 'layout.html.twig' %}

{% block content %}
<div class="wrapper grupo grupo-videos">
    <div id="containerVideo"></div>
</div>
{% endblock %}

{% set video_full_path = app.request.basepath ~ '/Content/videos/' ~ video_file ~ '.mp4' %}
{% block script %}
<script type="text/javascript">
    var params = {
        allowScriptAccess: "always"
    };
    var atts = {
        id: "containerVideo"
    };
    var flashVars = {
        src:'{{ video_full_path }}',
        controlBarMode: 'floating'
    }
    swfobject.embedSWF("http://fpdownload.adobe.com/strobe/FlashMediaPlayback.swf", "containerVideo", "1024", "768", "10.0", null, flashVars, params, atts);
</script>
{% endblock %}