{% extends 'layout.html.twig' %}

{% block content %}
<div class="wrapper">
    {{ include('/home/partial/banner.html.twig', {banners: banners}) }}

    <div class="packery" id="packeryDestaquesHome">
        {% for item in boxes %}
            {{ include('/includes/partials/box.html.twig', { "item": item, "css": 'box', "isFull": true }) }}
        {% endfor %}
        {{ include('/home/partial/box-twitter.html.twig') }}
    </div>
    <a href="#!carrega-mais-destaque" class="loadmore text--center" data-container="packeryDestaquesHome" data-url="{{ url('mais', {'number': 5}) }}"><i class="ir geral-refresh">Carrega mais</i></a>
</div>
{% endblock %}
