{% extends 'layout.html.twig' %}

{% block content %}
<div class="wrapper">
    {{ include('/home/partial/banner.html.twig', {banners: banners}) }}

    <div class="packery" id="packeryDestaquesHome">
        {{ include('/home/partial/box-lista.html.twig', { "boxes": boxes }) }}
        {{ include('/home/partial/box-twitter.html.twig', { "tweets": tweets }) }}
    </div>
    {% if pagina < paginas %}
        <div id="page_nav" class="hidden">
            <a href="{{ url('home_pagina', { 'page': 2 }) }}" class="loadmore text--center"><i class="ir geral-refresh">Carrega mais</i></a>
        </div>
    {% endif %}
</div>
{% endblock %}
